<a href="https://colab.research.google.com/github/JessieRosendez/Inclass-assignments/blob/main/In_class_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def calculate_parking_fee(hours_parked):
  """Calculates the parking fee based on the number of hours parked.

  Args:
    hours_parked: The number of hours the vehicle was parked.

  Returns:
    The parking fee.
  """




# Calculate the initial fee.
  fee = 5 + (hours_parked * 2.20)

  # Apply the minimum and maximum fees.
  fee = max(10, fee)  # Minimum fee is $10.
  fee = min(20, fee)  # Maximum fee is $20.

  return fee

# Print the table header.
print("Hours Parked | Parking Fee")
print("------------------------")

# Generate and print the table rows.
for hours in range(1, 9):
  fee = calculate_parking_fee(hours)
  print(f"{hours:12} | ${fee:.2f}")

Hours Parked | Parking Fee
------------------------
           1 | $10.00
           2 | $10.00
           3 | $11.60
           4 | $13.80
           5 | $16.00
           6 | $18.20
           7 | $20.00
           8 | $20.00

In [ ]:
for number in range(1, 11):
  if number % 2 == 0:
    print(number, end= ' ')

2 4 6 8 10

In [ ]:
for number in range(2, 11, 2):
  print(number, end= ' ')

2 4 6 8 10

In [ ]:
for numberHours in range(1, 9):
  fee =  5 + 2.5 * numberHours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20.0
  print(numberHours , fee)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

def calculate_profit(advertising_cost):
  """Calculates the profit for a given advertising cost.

  Args:
    advertising_cost: The cost of advertising in dollars.

  Returns:
    The profit in dollars.
  """

  # Calculate the number of additional attendees.
  additional_attendees = 2 * round(advertising_cost**0.5)

  # Calculate the total number of attendees.
  total_attendees = 20 + additional_attendees

  # Calculate the total revenue.
  revenue = total_attendees * 10

  # Calculate the total cost.
  total_cost = 200 + advertising_cost

  # Calculate the profit.
  profit = revenue - total_cost

  return profit


# Generate the table.
print("Advertising Cost | Profit")
print("-------------------------")

for advertising_cost in range(0, 201, 10):
  profit = calculate_profit(advertising_cost)
  print(f"${advertising_cost:16} | ${profit:6.2f}")

Advertising Cost | Profit
-------------------------
$               0 | $  0.00
$              10 | $ 50.00
$              20 | $ 60.00
$              30 | $ 70.00
$              40 | $ 80.00
$              50 | $ 90.00
$              60 | $100.00
$              70 | $ 90.00
$              80 | $100.00
$              90 | $ 90.00
$             100 | $100.00
$             110 | $ 90.00
$             120 | $100.00
$             130 | $ 90.00
$             140 | $100.00
$             150 | $ 90.00
$             160 | $100.00
$             170 | $ 90.00
$             180 | $ 80.00
$             190 | $ 90.00
$             200 | $ 80.00

In [ ]:
for admoney in range (0, 201, 25):

  revenue = (20 + 2 * round(admoney**0.5)) * 10
  cost = 200 + admoney
  profit = revenue - cost
  print(admoney, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80