<a href="https://colab.research.google.com/github/JessieRosendez/Inclass-assignments/blob/main/Inclass_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

whil

In [1]:
#create an empty list
my_list = []

#create the loop, allow integers to be input, but add the break to "0"
while True:
    user_input = int(input("Enter a number (enter 0 to stop): "))
    if user_input == 0:
        break
    my_list.append(user_input)


my_list.sort(reverse=True)  # Sort in descending order

print("List in descending order:", my_list) # List in descending order

Enter a number (enter 0 to stop): 1
Enter a number (enter 0 to stop): 23
Enter a number (enter 0 to stop): 2
Enter a number (enter 0 to stop): 25
Enter a number (enter 0 to stop): 25
Enter a number (enter 0 to stop): 3
Enter a number (enter 0 to stop): 0
List in descending order: [25, 25, 23, 3, 2, 1]

In [5]:
1st = []

num = float(input('Give a number: '))

while num != 0.0:
  1st.append(num)
  num = float(input('Give a number: '))

1st.sort(reverse=True)
print(1st)

SyntaxError: invalid decimal literal (<ipython-input-5-af9dc306dff2>, line 1)

In [6]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]

for item in L1:
  if item in L2:
    L1.remove(item)


L1

[2, 3, 4]